.admin-layout {
  display: flex;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.main-content {
  margin-left: 220px;
  transition: margin-left 0.3s ease;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-layout.collapsed .main-content {
  margin-left: 60px;
}

.page-content {
  padding: 20px;
  background-color: #f5f5f5;
  flex-grow: 1;
}