.sidebar {
  width: 220px;
  background-color: #cdcdcd;
  color: #0b0b0b;
  padding: 20px;
  min-height: 100vh;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent; /* optional */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h2 {
  font-size: 18px;
  color: #0b0b0b;
  margin: 0;
}

.sidebar.collapsed .sidebar-header h2 {
  display: none;
}

/* CLOSE BUTTON */
.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 3px; /* original position */
  transition: top 0.3s ease, right 0.3s ease;
  z-index: 20;
  height: 24px;
  width: 24px;
  padding: 0;
}

.close-btn:focus,
.close-btn:active {
  outline: none;
  box-shadow: none;
  background: none;
}

.sidebar.collapsed .close-btn {
  /* background: #cdcdcd;  */
  padding: 8px;
  border-radius: 6px;
  color: #000;
  top: 50px; /* button moves down */
  right: 160px;
  font-size: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  margin-bottom: 16px;
}

.sidebar a {
  color: #0b0b0b;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar a:hover {
  background-color: #3e4b5b;
  color: #ffff;
}

.sidebar a.active {
  color: #ffff;
  font-weight: bold;
  background-color: #3e4b5b;
}

.sidebar.collapsed a {
  font-size: 0;
  padding-left: 0;
}
